body {
  background-image: url("/Design Elements/UI/Coffee_Background.png");
  background-size: cover;
  font-family: "Century Gothic";
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #fffddd;
}

.login {
  max-width: 510px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 120px;
  background-image: url("/Design Elements/UI/login_index_background.jpg");
  background-size: 600px 600px;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-right: 21px;
  margin-left: 10px;
  box-shadow: 5px 10px #552e19;
  transition: 0.2s;
}

.login:hover {
  transform: scale(102%);
  transition: 0.2s;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 50px;
  font-weight: bolder;
}

.login label {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.login input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.login button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #555;
}

.login p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.login a {
  color: #333;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

.brand {
  width: max-content;
  margin-left: 0px;
  margin-top: 69px;
  transition: 0.2s;
}

.brand:hover {
  transform: scale(101%);
  transition: 0.2s;
}

.brand img {
  height: 200px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-left: 16px;
}

.brand_intro_container {
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  border-radius: 20px;
  background-image: url("/Design Elements/UI/login_index_background.jpg");
  background-size: 900px 600px;
  background-repeat: no-repeat;
  width: max-content;
  margin-left: 50px;
  margin-top: 20px;
  box-shadow: -5px 10px #552e19;
}

.text_intro p {
  color: #000000;
  width: 500px;
  margin-left: 15px;
  font-weight: 600;
  margin-top: 5px;
  height: max-content;
  text-align: justify;
}

.text_intro h3 {
  color: rgb(251, 235, 211);
  font-weight: bolder;
  margin-left: 15px;
  height: max-content;
  width: max-content;
}

.login_page_container {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .login_page_container {
    display: flex;
    flex-direction: column;
    transition: 1s;
    justify-content: center;
  }

  .login {
    margin-top: 0px;
    transform: scale(90%);
    justify-content: center;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    transition: 1s;
  }

  .brand {
    width: max-content;
    margin-left: 25px;
    margin-top: 120px;
    padding: 0%;
    padding-left: 0%;
  }

  .brand img {
    margin-top: 9px;
    height: 90px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .brand_intro_container {
    display: none;
  }

  .login:hover {
    transform: scale(90%);
    transition: 0.2s;
  }
}
